{#
/**
* @file
* Custom add to cart form.
*
* @see commerce_2_demo_form_alter()
*
* @ingroup themeable
*/
#}

{# Handle legth selector. #}
<div class="row">
  <div class="col-xs-12">
    <h2>{{ 'Select a handle length'|t }}</h2>
    <div class="row">
      {%  for attribute in form['#uh_axe_length'] %}
        <div class="col-xs-4">
          {{ attribute.attribute_value_id.value }}
          {{ attribute.name.value }}
          {{ attribute.field_attribute_description.value }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{# Head weight selector. #}
<div class="row">
  <div class="col-xs-12">
    <h2>{{ 'Now choose a head weight'|t }}</h2>
    <div class="row">
      {%  for attribute in form['#uh_axe_weight'] %}
        <div class="col-xs-4">
          {{ attribute.attribute_value_id.value }}
          {{ attribute.name.value }}
          {{ attribute.field_attribute_description.value }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  {% if form['#product_variation'].field_image.entity %}
  {# Product images. #}
  <div class="col-xs-6 col-sm-8 col-md-10">
    <div class="product__images">
      {%
      set variation_field_image = {
        '#theme':      'image_style',
        '#style_name': 'uh_axe',
        '#uri':        form['#product_variation'].field_image.entity.uri.value,
        '#alt':        form['#product_variation'].field_image.alt,
      }
      %}

      {{ variation_field_image }}
    </div>
  </div>
  {# Product cart form w/ product image. #}
  <div class="col-xs-6 col-sm-4 col-md-2">
    <div class="product__intro">
  {% else %}
  {# Product cart form w/o product image. #}
  <div class="col-sm-12">
    <div class="product__intro product__intro--full-width">
  {% endif %}
      {{ form|without('quantity', 'actions') }}
      <div class="field--name-price">
        {{ form['#product_variation'].price.value.0|commerce_price_format }}
      </div>

      {{ form.actions }}
      <div class="product__intro__links">
        {{ 'SHIPPING'|t }} | {{ 'GUARANTEE'|t }}
      </div>
    </div>
  </div>
</div>
