{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{% if view_mode == 'teaser' %}

  {# Product teaser. #}
  <a href="{{ product_url }}" class="product product--teaser" aria-label="{{ product_entity.title.value }}">
    <div class="product--thumbnail">
      {% if product_image_thumb_url %}
        <img src="{{ product_image_thumb_url }}" alt="{{ product_entity.title.value }}" />
      {% else %}
        <img src="{{ base_path ~ directory }}/gfx/logo-icon.svg" class="no-product-thumbnail" alt="{{ product_entity.title.value }}" />
      {% endif %}
    </div>

    {{ product.variation_price }}
    {{ product.title }}
    {{ product.field_brand }}
  </a>

{% else %}

  {# Product full page. #}
  <article{{ attributes }} class="product product--full">
    {{- product|without('variation_attributes') -}}
  </article>

{% endif %}
