{#
/**
 * @file
 * Default product add-on add to cart form template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - form: The form render array
 *
 * @ingroup themeable
 */
#}

{# Include UH PADO library. #}
{{ attach_library('commerce_2_demo/uh-pado') }}

{{ form|without('add_ons', 'actions') }}

{% if form.add_ons.items %}
  <div class="add-ons-wrapper">
    <label class="add-ons__title"><i class="fa fa-star"></i> {{ 'Bundle and Save!'|t }}</label>
    <div class="add-ons__header">{{ 'Purchase with the following items and save! Discount applied in cart.'|t }}</div>
    {{ form.add_ons }}
  </div>
{% endif %}

{{ form.actions }}
