{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{% if view_mode == 'teaser' %}

  {# Product teaser. #}
  <a href="{{ product_url }}" class="product product--teaser" aria-label="{{ product_entity.title.value }}">
    <div class="product--thumbnail">
      {% if product_image_thumb_url %}
        <img src="{{ product_image_thumb_url }}" alt="{{ product_entity.title.value }}" />
      {% else %}
        <img src="{{ base_path ~ directory }}/gfx/logo-icon.svg" class="no-product-thumbnail" alt="{{ product_entity.title.value }}" />
      {% endif %}
    </div>

    {{ product.variation_price }}
    {{ product.title }}
    {{ product.field_brand }}
  </a>

{% else %}

  {# Product full page. #}
  <article{{ attributes }} class="product product--full">
    <div class="row">
      <div class="col-xs-12 back-and-share">
        {# Back button. #}
        <a href="/products" class="back-to-products">{{ 'Back to Products'|t }}</a>

        {# Share. #}
        <div class="sharethis-inline-share-buttons"></div>
      </div>
    </div>

    <div class="row">
      {# Product images. #}
      <div class="col-sm-12 col-md-6">
        {{ product.variation_field_image }}
      </div>

      {# Product intro. #}
      <div class="col-sm-12 col-md-6">
        <div class="product--intro">
          {{ product.field_brand }}
          <h1 class="page-title">{{ product_entity.title.value }}</h1>
          {{ product.variation_price }}
          {{ product.field_short_description }}
          {{ product.variations }}
        </div>
      </div>
    </div>

    <div class="row">
      {# Product details. #}
      <div class="col-sm-12">
        {{ product.body }}
        {{ product.field_specifications }}
      </div>
    </div>
  </article>

{% endif %}
