{#
/**
 * @file
 * Default product add-on add to cart form template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - form: The form render array
 *
 * @ingroup themeable
 */
#}
{{ form|without('add_ons', 'actions') }}

{% if form.add_ons.items %}
  <div class="add-ons-wrapper">
    <label class="add-ons__title"><i class="fa fa-star"></i> {{ 'Bundle and save!'|t }}</label>
    <div class="add-ons__header">{{ 'Also add these items and get a discount! The discount is applied to your cart automatically'|t }}</div>
    {{ form.add_ons }}
  </div>
{% endif %}

{{ form.actions }}
