{# Set the path for the footer logo icon. #}
{% set site_logo_icon_url =  base_path ~ directory ~ '/gfx/logo-icon.svg' %}

<footer class="site-footer">
  <div class="container">
    {# Footer top. #}
    <div class="site-footer__top">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          {# Logo. #}
          <div class="site-footer__logo">
            <a href="{{ front_page }}">
              <img src="{{ site_logo_icon_url }}" alt="{{ site_name ? site_name }}" />
            </a>
          </div>

          {# Contact info. #}
          {% if page.footer_top %}
            <div class="site-footer__contact">
              {{ page.footer_top }}
            </div>
          {% endif %}
        </div>

        <div class="col-xs-12 col-sm-6">
          {# Social media navigation. #}
          {% if page.social_nav %}
            <div class="social-media-nav">
              {{ page.social_nav }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {# Footer main. #}
    <div class="site-footer__main">
      <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-4">
          {# Store address. #}
          {% if page.footer %}
            <div class="">
              {{ page.footer }}
            </div>
          {% endif %}
        </div>

        <div class="hidden-xs hidden-sm col-md-9 col-lg-8">
          {% if page.primary_nav %}
            {# Primary navigation in footer. #}
            <div class="footer-main-nav">
              {{ page.primary_nav }}
            </div>
          {% endif %}

          {% if page.special_nav %}
            {# Special navigation in footer. #}
            <div class="footer-main-nav">
              {{ page.special_nav }}
            </div>
          {% endif %}

          {% if page.header_nav %}
            {# Header navigation in footer. #}
            <div class="footer-main-nav">
              {{ page.header_nav }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {# Footer bottom. #}
    <div class="site-footer__bottom">
      <div class="row">
        <div class="hidden-xs col-sm-12 col-md-2 pull-right site-tours-wrapper">
          {# Button trigger modal #}
          <button type="button" id="siteTours-start" class="btn btn-primary" data-toggle="modal" data-target="#siteTours">
            <i class="fa fa-star fa-lg"></i> {{ 'Guided Tours'|t }}
          </button>
        </div>

        <div class="col-xs-12 col-md-10">
          {# Footer navigation. #}
          {% if page.footer_nav %}
            <div class="footer-nav">
              {{ page.footer_nav }}
            </div>
          {% endif %}

          {# Copyright. #}
          <div class="site-footer__copyright">
            {{ 'Copyright &copy; @year'|t({'@year': 'now'|date('Y')}) }}
            <a href="{{ front_page }}">{{ 'Urban Hipster Inc.'|t }}</a>.
            {{ 'All rights reserved.'|t }}
          </div>

          {# Acro Media Inc. #}
          <div class="site-footer__acro">
            {{ 'Website design by'|t }} <a href="https://www.acromedia.com" target="_blank">{{ 'Acro Media Inc.'|t }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


{# Tour Modal #}
<div class="modal fade" id="siteTours" tabindex="-1" role="dialog" aria-labelledby="siteToursLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="siteToursLabel"><i class="fa fa-star fa-lg"></i> {{ 'Guided Tours'|t }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'Select a Drupal Commerce guided feature tour below!'|t }}</p>

        <button type="button" class="btn btn-primary" id="homepageTour">
          <i class="fa fa-home fa-lg"></i> {{ 'Homepage Features'|t }}
        </button>

        <button type="button" class="btn btn-primary" id="productPageTour">
          <i class="fa fa-gift fa-lg"></i> {{ 'Product Page'|t }}
        </button>

        <button type="button" class="btn btn-primary" id="catalogFiltersTour">
          <i class="fa fa-th-large fa-lg"></i> {{ 'Catalog & Filters'|t }}
        </button>

        <button type="button" class="btn btn-primary" id="solrSearchTour">
          <i class="fa fa-search fa-lg"></i> {{ 'SOLR Search'|t }}
        </button>

        <button type="button" class="btn btn-primary" id="quickCartTour">
          <i class="fa fa-shopping-basket fa-lg"></i> {{ 'Quick Cart'|t }}
        </button>

        <button type="button" class="btn btn-primary" id="checkoutPhysicalTour">
          <i class="fa fa-shopping-cart fa-lg"></i> {{ 'Checkout - Physical'|t }}
        </button>

        <button type="button" class="btn btn-primary" id="checkoutDigitalTour">
          <i class="fa fa-cart-arrow-down fa-lg"></i> {{ 'Checkout - Digital'|t }}
        </button>

        <button type="button" class="btn btn-primary" id="customerAccountTour">
          <i class="fa fa-address-book fa-lg"></i> {{ 'Customer Account'|t }}
        </button>

        <button type="button" class="btn btn-primary" id="whyDrupalTour">
          <i class="fa fa-drupal fa-lg"></i> {{ 'Why Drupal?'|t }}
        </button>

        <button type="button" class="btn btn-primary" id="whyOpenSourceTour">
          <i class="fa fa-code fa-lg"></i> {{ 'Why Open Source?'|t }}
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|t }}</button>
      </div>
    </div>
  </div>
</div>
