{# Set the path for the footer logo icon. #}
{% set site_logo_icon_url =  base_path ~ directory ~ '/gfx/logo-icon.svg' %}
{% set acro_media_logo_url =  base_path ~ directory ~ '/gfx/acro-media-logo.svg' %}

<footer class="site-footer">
  <div class="container">
    {# Footer top. #}
    <div class="site-footer__top">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          {# Logo. #}
          <div class="site-footer__logo">
            <a href="{{ front_page }}">
              <img src="{{ site_logo_icon_url }}" alt="{{ site_name ? site_name }}" />
            </a>
          </div>

          {# Contact info. #}
          {% if page.footer_top %}
            <div class="site-footer__contact">
              {{ page.footer_top }}
            </div>
          {% endif %}
        </div>

        <div class="col-xs-12 col-sm-6">
          {# Social media navigation. #}
          {% if page.social_nav %}
            <div class="social-media-nav">
              {{ page.social_nav }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {# Footer main. #}
    <div class="site-footer__main">
      <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-4">
          {# Store address. #}
          {% if page.footer %}
            <div class="">
              {{ page.footer }}
            </div>
          {% endif %}
        </div>

        <div class="hidden-xs hidden-sm col-md-9 col-lg-8">
          {% if page.primary_nav %}
            {# Primary navigation in footer. #}
            <div class="footer-main-nav">
              {{ page.primary_nav }}
            </div>
          {% endif %}

          {% if page.special_nav %}
            {# Special navigation in footer. #}
            <div class="footer-main-nav">
              {{ page.special_nav }}
            </div>
          {% endif %}

          {% if page.header_nav %}
            {# Header navigation in footer. #}
            <div class="footer-main-nav">
              {{ page.header_nav }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {# Footer bottom. #}
    <div class="site-footer__bottom">
      <div class="row">
        <div class="col-sm-12 col-md-5 site-footer__buttons">
          {# Hide/show feature beacons #}
          <button type="button" class="btn btn-primary feature-beacon-toggle" title="{{ 'Toggle feature icons'|t }}">
            <i class="fa fa-star-o fa-lg"></i> <span>{{ 'Hide Beacons'|t }}</span>
          </button>

          {# Button trigger help modal #}
          <button type="button" class="btn btn-primary help-modal" data-toggle="modal" data-target="#help" title="{{ 'Learn more abou this demo'|t }}">
            <i class="fa fa-question-circle fa-lg"></i> {{ 'Help'|t }}
          </button>

          {# GitHub links #}
          <div class="github">
            <i class="fa fa-github fa-2x"></i>
            <a href="https://github.com/AcroMedia/commerce-demo/blob/master/README.md" target="_blank" class="btn btn-default">{{ 'View source code'|t }} <i class="fa fa-angle-right"></i></a>
            <a href="https://github.com/AcroMedia/commerce-demo/issues" target="_blank" class="btn btn-default">{{ 'Report a bug'|t }} <i class="fa fa-angle-right"></i></a>
          </div>
        </div>

        <div class="col-xs-12 col-md-7">
          {# Footer navigation. #}
          {% if page.footer_nav %}
            <div class="footer-nav">
              {{ page.footer_nav }}
            </div>
          {% endif %}

          <div class="site-footer__credits">
            {# Acro Media logo. #}
            <div class="site-footer__acro-logo">
              <a href="https://www.acromedia.com" target="_blank" title="{{ 'Visit acromedia.com'|t }}">
                <img src="{{ acro_media_logo_url }}" alt="Acro Media logo" />
              </a>
            </div>

            {# Copyright. #}
            <div class="site-footer__copyright">
              {{ 'Copyright &copy; @year'|t({'@year': 'now'|date('Y')}) }}
              <a href="https://www.acromedia.com" target="_blank" title="{{ 'Visit acromedia.com'|t }}">{{ 'Acro Media Inc.'|t }}</a>
              {{ 'All rights reserved.'|t }}
            </div>

            {# Credits. #}
            <div class="site-footer__credit-links">
              <span>{{ 'Website design by'|t }} <a href="https://www.acromedia.com" target="_blank">{{ 'Acro Media Inc.' }}</a></span>
              <span class="hidden-xs"> &nbsp; | &nbsp; </span>
              <span>{{ 'Photos available from'|t }} <a href="https://www.unsplash.com" target="_blank">{{ 'Unsplash.com' }}</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{# Video Modal #}
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-label="{{ 'Watch this video'|t }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="headerClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" id="footerClose" class="btn btn-default" data-dismiss="modal">{{ 'Close'|t }}</button>
      </div>
    </div>
  </div>
</div>

{# Help Modal #}
<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="helpLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="headerClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="helpLabel"><i class="fa fa-question-circle fa-lg"></i> {{ 'Help'|t }}</h4>
      </div>
      <div class="modal-body">
        <div class="help-form text-left">
          {% trans %}
          <h3>Want to learn more?</h3>
          If you like what you’re seeing and want to learn more about leveraging Drupal and Drupal Commerce for your commerce solution, reach out to one of our business developers for more information.<br><br>
          {% endtrans %}

          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              css: '',
              portalId: '1659229',
              formId: '4c37690f-26db-47d5-8e95-d9561e6f9594'
            });
          </script>

          <hr>

          {% trans %}
            <h3>Developer help</h3>
            Looking for community help with your Drupal Commerce project?<br><br>
            <ul>
              <li>Visit Acro Media's <a href="https://www.youtube.com/user/acromediainc" target="_blank">YouTube channel</a></li>
              <li>View this demo's <a href="https://github.com/AcroMedia/commerce-demo/blob/master/README.md" target="_blank">source code</a></li>
              <li>See the official <a href="https://docs.drupalcommerce.org/commerce2/getting-started/getting-help" target="_blank">Drupal Commerce help resources</a></li>
            </ul>
          {% endtrans %}
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-credits">
          {% trans %}
            Drupal Commerce demo site by <a href="https://www.acromedia.com" target="_blank" title="Visit Acro Media's website">Acro Media Inc.</a>
          {% endtrans %}
        </div>

        <button type="button" id="footerClose" class="btn btn-default" data-dismiss="modal">{{ 'Close'|t }}</button>
      </div>
    </div>
  </div>
</div>

{# Feature Beacon. #}
{% if page.feature_beacon %}
  {{ page.feature_beacon }}
{% endif %}
{# / Feature Beacon. #}

{% if page.access_gate %}
{# Access Gate Modal Block #}
 {{ page.access_gate }}
{% endif %}
