{# Set the path for the footer logo icon. #}
{% set site_logo_icon_url =  base_path ~ directory ~ '/gfx/logo-icon.svg' %}

<footer class="site-footer">
  <div class="container">
    {# Footer top. #}
    <div class="site-footer__top">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          {# Logo. #}
          <div class="site-footer__logo">
            <a href="{{ front_page }}">
              <img src="{{ site_logo_icon_url }}" alt="{{ site_name ? site_name }}" />
            </a>
          </div>

          {# Contact info. #}
          {% if page.footer_top %}
            <div class="site-footer__contact">
              {{ page.footer_top }}
            </div>
          {% endif %}
        </div>

        <div class="col-xs-12 col-sm-6">
          {# Social media navigation. #}
          {% if page.social_nav %}
            <div class="social-media-nav">
              {{ page.social_nav }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {# Footer main. #}
    <div class="site-footer__main">
      <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-4">
          {# Store address. #}
          {% if page.footer %}
            <div class="">
              {{ page.footer }}
            </div>
          {% endif %}
        </div>

        <div class="hidden-xs hidden-sm col-md-9 col-lg-8">
          {% if page.primary_nav %}
            {# Primary navigation in footer. #}
            <div class="footer-main-nav">
              {{ page.primary_nav }}
            </div>
          {% endif %}

          {% if page.special_nav %}
            {# Special navigation in footer. #}
            <div class="footer-main-nav">
              {{ page.special_nav }}
            </div>
          {% endif %}

          {% if page.header_nav %}
            {# Header navigation in footer. #}
            <div class="footer-main-nav">
              {{ page.header_nav }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {# Footer bottom. #}
    <div class="site-footer__bottom">
      <div class="row">
        <div class="col-xs-12 col-sm-10">
          {# Footer navigation. #}
          {% if page.footer_nav %}
            <div class="footer-nav">
              {{ page.footer_nav }}
            </div>
          {% endif %}

          {# Copyright. #}
          <div class="site-footer__copyright">
            {{ 'Copyright &copy; @year'|t({'@year': 'now'|date('Y')}) }}
            <a href="{{ front_page }}">{{ 'Urban Hipster Inc.'|t }}</a>.
            {{ 'All rights reserved.'|t }}
          </div>

          {# Acro Media Inc. #}
          <div class="site-footer__acro">
            {{ 'Website design by'|t }} <a href="https://www.acromedia.com" target="_blank">{{ 'Acro Media Inc.'|t }}</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-2 text-right">
          {# Button trigger modal #}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#siteTours">
            Tours
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>


{# Tour Modal #}
<div class="modal fade" id="siteTours" tabindex="-1" role="dialog" aria-labelledby="siteToursLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="siteToursLabel">Drupal Commerce Tours</h4>
      </div>
      <div class="modal-body">
        <p>Select a Drupal Commerce site tour below!</p>
        <button type="button" class="btn btn-primary" id="productPageTour">Product Page</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
