{# Set the path for the site logo. #}
{% set site_logo_url =  base_path ~ directory ~ '/gfx/logo.svg' %}

{# Mobile overlays. #}
{% if page.mobile_nav %}
  {% if page.site_search %}
    <div class="mobile-overlay mobile-search-overlay">
      <div class="mobile-search-overlay__content mobile-overlay__content">
        <a href="#" class="mobile-search-overlay__close mobile-overlay__close">
          <span class="fa fa-times" aria-hidden="true"></span>
        </a>

        <div class="mobile-search-form">
          {{ page.site_search }}
          <a class="mobile-search-form__submit" href="#" title="{{ 'Search'|t }}">
            <span class="fa fa-search" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="mobile-overlay mobile-nav-overlay">
    <div class="mobile-nav-overlay__content mobile-overlay__content clearfix">
      <header class="mobile-nav-overlay__header clearfix" role="banner">
        <a href="#" class="mobile-nav-overlay__close mobile-overlay__close">
          <span class="fa fa-times" aria-hidden="true"></span>
        </a>
      </header>

      <div class="mobile-nav">
        {{ page.mobile_nav }}
      </div>
    </div>
  </div>
{% endif %}
{# / Mobile overlays. #}

<header class="site-header">
  {# Header top bar. #}
  <div class="site-header__top-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6 site-header__top-bar--left">
          {% if page.header_promo %}
            {# Header promo area. #}
            <div class="site-header__promo">
              {{ page.header_promo }}
            </div>
          {% endif %}
        </div>

        <div class="hidden-xs col-md-12 col-lg-6 site-header__top-bar--right">
          {% if page.header_nav %}
            {# Header navigation. #}
            <div class="site-header-nav">
              {{ page.header_nav }}
            </div>
          {% endif %}

          {% if page.language_select %}
            {# Language select. #}
            <div class="site-header__language-select">
              {{ page.language_select }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {# Header main. #}
  <div class="site-header__top container">
    <div class="row">
      <div class="col-xs-8 col-sm-5 col-md-5">
        {# Logo. #}
        <div class="site-header__logo">
          <a href="{{ front_page }}">
            <img src="{{ site_logo_url }}" alt="{{ site_name ? site_name }}" />
          </a>
        </div>
      </div>

      <div class="col-xs-4 col-sm-7 col-md-7 site-header__main">
        <div class="hidden-xs site-header__main-left">
          {# Contact info. #}
          {% if page.header %}
            {{ page.header }}
          {% endif %}
        </div>

        <div class="hidden-xs site-header__main-right">
          {# Cart. #}
          {% if page.header_right %}
            {{ page.header_right }}
          {% endif %}
        </div>

        {# Mobile navigation. #}
        {% if page.mobile_nav %}
          <div class="mobile-control-nav visible-xs-block">
            <ul class="menu clearfix">
              <li class="menu__item menu__item--search">
                <a href="#" class="menu__link" title="{{ 'Search'|t }}">
                  <span aria-hidden="true" class="fa fa-search"></span>
                </a>
              </li>
              <li class="menu__item menu__item--menu">
                <a href="#" class="menu__link" title="{{ 'Menu'|t }}">
                  <span aria-hidden="true" class="fa fa-bars"></span>
                </a>
              </li>
            </ul>
          </div>
        {% endif %}
        {# / Mobile navigation. #}

        {# Site search. #}
        {% if page.site_search %}
          <div class="hidden-xs site-header__search">
            {{ page.site_search }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {# Header bottom. #}
  <div class="site-header__bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% if page.primary_nav %}
           {# Primary navigation. #}
            <div class="primary-nav hidden-xs">
              {{ page.primary_nav }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
