{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    page_title ? 'page-title-' ~ page_title|clean_class,
    current_path ? 'path' ~ current_path|clean_class,
    term_vocabulary ? 'term-vocab-' ~ term_vocabulary|clean_class,
    term_name ? 'term-' ~ term_name|clean_class,
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    {# Google Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i|Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto+Slab:700|Playfair+Display:400,700|Love+Ya+Like+A+Sister" rel="stylesheet">
    {# Favicon#}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    {# Hide site from bots #}
    <meta name="robots" content="noindex, nofollow, noarchive, noimageindex">
    <meta name="googlebot" content="noindex, nofollow, noarchive, nosnippet, noimageindex">

    {# SharThis #}
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=591c6fb6c3c43c0017f5dfe0&product=inline-share-buttons"></script>

    {# Hotjar Tracking Code for https://commercedemo.acromedia.com #}
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:630318,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

      {# Start of Zendesk Live Chat Script #}
    <script type="text/javascript">
      window.$zopim||(function(d,s){var z=$zopim=function(c){
        z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//v2.zopim.com/?489qUUs0E89EUo0sNP93u7uChomokWER';z.t=+new Date;$.
          type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    {# End of Zendesk Live Chat Script #}

    {# Set Zendesk Live Chat Timer #}
    <script type="text/javascript">
      window.setTimeout(function() {
        $zopim.livechat.button.show();
        $zopim.livechat.window.show();
        $zopim.livechat.bubble.show();
      }, 120000);
    </script>
    {# End Zendesk Live Chat Timer #}
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <div id="mobile-overlay"></div>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    <button type="button" id="siteTours-start" class="btn btn-primary fixed-button" data-toggle="modal" data-target="#siteTours">
      <i class="fa fa-star fa-lg"></i> {{ 'Guided Tours'|t }}
    </button>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
