{#
/**
 * @file
 * Orange Starter theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}
  {%
    set menu_classes = [
      'menu',
      'menu--parent',
      'menu--' ~ menu_name|clean_class,
      'menu--level-' ~ menu_level,
    ]
  %}
  {%
    set sub_menu_classes = [
      'menu',
      'menu--child',
      'menu--level-' ~ menu_level,
    ]
  %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass(menu_classes) }}>
    {% else %}
      <ul{{ attributes.removeClass(menu_classes).addClass(sub_menu_classes).removeClass('menu--level-' ~ (menu_level - 1)) }}>
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          'menu__item',
          'menu__item--' ~ item.title|clean_class,
          item.is_expanded ? 'menu__item--expanded',
          item.in_active_trail ? 'menu__item--active-trail',
        ]
      %}
      {%
        set link_classes = [
          'menu__link',
          item.in_active_trail ? 'menu__link--active-trail',
        ]
      %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {{ link(item.title, item.url, item.attributes.removeClass(item_classes).addClass(link_classes)) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
